h3 {
    color: #669999;
}

#introduction {
    font-size: 6em;
    text-align: center;
    margin-top: 60px;
}

#picture-container {
    margin-top: 20px;
    margin-left: 15px;   
}
.picture-display {
    border: 1px solid #669999;
    width: 300px;
    height: 400px;
    float: left;
}

#main-content {
    border: 1px solid #669999;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    min-height: 500px;
    box-shadow: rgba(0,0,0,0.4) 10px 10px 10px 10px;
}

#logo {
    color: #669999;
}

#abstraction-intro {
    height: 100px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#input-box {
    position: absolute;
    width: 67%;
    padding: 15px;  
    bottom: 8em;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#pills2 li {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.15em;
    margin-top: 7px;
    margin-left: 3px;
    margin-right: 3px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

#pills2 a:link {
   text-decoration: none;
   color: #669999;
}

#pills2 a:visited {
   text-decoration: none;
   color: #669999;
}

#pills2 li:hover {
   background-color: #669999;
}

#pills2 li:hover a {
   color: white;
}

#pills2 .active {
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   color: white;
   background-color: #003333;
}

#pills2 .active a {
   color: white;
}

#pills2 .active:hover {
    background-color: #003333;
} 
